.side-content-bar {
    a {
        text-decoration: none;
    }
}

.top-stories-content {
    border-bottom: 1px solid #e5e5e5;

    a {
        color: #4c4c4c;
    }
}

.author-picks-content {
    border-bottom: 1px solid #e5e5e5;

    a {
        color: #4c4c4c;
    }
}

.stories-tag-content {
    border-bottom: 1px solid #e5e5e5;

    a {
        color: #4c4c4c;
    }
}

.front-page-footer {
    a {
        color: #7f7f7f;
        margin: 3px;
    }
}
