.sign {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #e5e5e5;
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;

    h1 {
      font-size: 1.25rem;
    }
}

.logo-image {
    align-items: center;
    display: flex;
    flex-direction: row;
    color: #4c4c4c;

    img {
      display: inline-block;
      vertical-align: middle;
      width: 50px;
      height: 50px;
    }
}

.user-start {
    align-items: center;
    color: #00AB6C;
    display: flex;
    flex-direction: row;
    font-size: .9rem;
    font-weight: 300;

    a {
        color: #00AB6C;
        margin: 15px;
        text-decoration: none;
    }

    button {
      border: none;
      background-color: transparent;
      color: $darkgrey;
      font-size: .9rem;
      font-weight: 300;
    }
}

.categories {
  overflow: hidden;
  padding-left: 10%;
}

.categories-menu, .users-tab {
    align-items: center;
    display: flex;
    flex-direction: row;
    float: left;
    font-size: .8rem;
    justify-content: flex-start;
    list-style-type: none;
    padding: 1% 0;
    width: 48%;

    a {
        color: #7f7f7f;
        margin: 15px;
        text-decoration: none;
    }
}
