.side-content-bar {
    a {
        text-decoration: none;
    }
}

.top-stories-content, .author-picks-content, .stories-tag-content {
    border-bottom: 1px solid #e5e5e5;
    padding: 2% 1%;
    font-size: .8rem;

    a {
        color: #4c4c4c;

    }

    p {
      padding: 2% 1%;
    }
}


.front-page-footer {
    a {
        color: #7f7f7f;
        margin: 3px;
    }
}
