.sign-in-page {
  background: rgba(0, 0, 0, 0.5);
  height: 100vh;
  position: fixed;
  width: 100vw;
  z-index: 5;
}

.close-div {
  background-color: transparent;
  color: white;
  font-size: 1.5rem;
  border: none;
  position: fixed;
  top: 0;
  right: 10%;
  margin: 2%;
  width: 60px;
}

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 10% auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

form .create-user {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #00AB6C;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.create-user:hover, .create-user:focus {
  background: #00AB6C;
}

.create-user:active {
  background-color: #f2f2f2;
  color: #00AB6C;
}
.form .message {
  margin: 15px 0 0;
  color: #00AB6C;
  font-size: 12px;
}
.form .message a {
  color: #00AB6C;
  text-decoration: none;
}
.form .register-form {
  // display: none;
}

.hide{
  display: none;
}
