/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=PT+Sans");
@import url("https://fonts.googleapis.com/css?family=Quicksand");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  max-with: 100%; }

*, *:before, *:after {
  box-sizing: border-box; }

body {
  font-family: "PT Sans", sans-serif;
  font-size: 14px; }

header {
  background-color: white;
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  width: 95%; }

.main-content-body {
  background-color: #fafafa;
  overflow: hidden;
  padding: 2% 0;
  width: 100%; }
  .main-content-body .each-content-box {
    float: left;
    width: 65%; }
  .main-content-body .side-content-bar {
    float: right;
    font-family: "Roboto", sans-serif;
    font-size: 1.25rem;
    width: 35%; }

.stories-content-box {
  width: 100%; }

.user-container {
  background-color: white;
  border-bottom: 2px solid gray;
  margin: 5% auto;
  padding: 5% 5%;
  width: 50%; }

.user-full-name {
  display: inline-block;
  font-size: 1.75rem;
  font-weight: 700;
  margin: 0;
  text-transform: capitalize; }

.author-image-holder {
  background: url(http://i.imgur.com/bWv7tvS.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 100%;
  float: right;
  height: 120px;
  margin: 2%;
  width: 120px; }

.following, .followers {
  display: inline-block;
  margin: 1% 1% 1% 2%;
  color: gray; }

.twitter {
  display: inline-block;
  margin: 1% 1% 1% 10%; }

.twitter img {
  max-height: 20px; }

.facebook {
  display: inline-block;
  margin: 1% 1% 1% 1%; }

.follow-button {
  background-color: white;
  color: #00AB6C;
  border: 2px solid #00AB6C;
  font-size: .8rem;
  padding: 2% 4%;
  border-radius: 500px;
  margin: 2% 0 0; }

.post-container {
  background-color: white;
  border: white;
  line-height: 1;
  padding: 1% 5% 0% 5%;
  margin: 5% auto;
  width: 660px;
  min-height: 320px; }

.author-image-holder {
  background: url(http://i.imgur.com/bWv7tvS.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: inline-block;
  float: left;
  border-radius: 50%;
  height: 50px;
  margin: 2%;
  vertical-align: middle;
  width: 50px; }

.post-author-name {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 1% 0 0 0;
  text-transform: capitalize;
  display: block; }

.post-date, .post-length {
  font-size: .8rem;
  margin: 0 1%;
  width: 10%; }

.post-content {
  margin: 1% auto;
  width: 100%; }
  .post-content .post-image {
    width: 70%; }
    .post-content .post-image img {
      width: 100%; }
  .post-content .post-title {
    font-family: "Quicksand", sans-serif;
    font-size: 1.5rem;
    margin-bottom: 0; }
  .post-content .read-more {
    margin-bottom: 0; }
    .post-content .read-more a {
      color: gray;
      font-size: .8rem;
      text-decoration: none; }

.social-bar {
  display: flex;
  margin-top: 0;
  height: 40px;
  width: 100%; }
  .social-bar .heart-favicon {
    height: 20px;
    margin: 2% auto 0 0;
    width: 20px; }
  .social-bar .bookmark-favicon {
    height: 20px;
    margin: 2% 2% 0 auto;
    width: 20px; }

.sign {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #e5e5e5;
  font-size: .8rem;
  padding-left: 10%;
  padding-right: 10%;
  width: 100%; }

.logo-image {
  align-items: center;
  display: flex;
  flex-direction: row;
  color: #4c4c4c; }
  .logo-image img {
    display: inline-block;
    vertical-align: middle;
    width: 75px;
    height: 75px; }

.user-start {
  align-items: center;
  color: #00AB6C;
  display: flex;
  flex-direction: row;
  font-size: 1rem; }
  .user-start a {
    color: #00AB6C;
    margin: 15px;
    text-decoration: none; }

.categories-menu {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-size: .8rem;
  justify-content: flex-start;
  list-style: none;
  padding: 1% 10%;
  width: 100%; }
  .categories-menu a {
    color: #7f7f7f;
    margin: 15px;
    text-decoration: none; }

.side-content-bar a {
  text-decoration: none; }

.top-stories-content {
  border-bottom: 1px solid #e5e5e5; }
  .top-stories-content a {
    color: #4c4c4c; }

.author-picks-content {
  border-bottom: 1px solid #e5e5e5; }
  .author-picks-content a {
    color: #4c4c4c; }

.stories-tag-content {
  border-bottom: 1px solid #e5e5e5; }
  .stories-tag-content a {
    color: #4c4c4c; }

.front-page-footer a {
  color: #7f7f7f;
  margin: 3px; }

/*# sourceMappingURL=main.css.map */
