/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=PT+Sans");
@import url("https://fonts.googleapis.com/css?family=Quicksand");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  max-with: 100%; }

*, *:before, *:after {
  box-sizing: border-box; }

body {
  font-family: "PT Sans", sans-serif;
  font-size: 6px; }

header {
  background-color: white;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  width: 95%; }

.main-content-body {
  background-color: #fafafa;
  overflow: hidden;
  padding: 2% 0;
  width: 100%; }
  .main-content-body .stories-content-box {
    float: left;
    width: 70%; }
  .main-content-body .side-content-bar {
    float: right;
    font-family: "Roboto", sans-serif;
    font-size: 1.25rem;
    margin-right: 5%;
    width: 25%; }

.sign-in-page {
  background: rgba(0, 0, 0, 0.5);
  height: 100vh;
  position: fixed;
  width: 100vw;
  z-index: 5; }

.close-div {
  background-color: transparent;
  color: white;
  font-size: 1.5rem;
  border: none;
  position: fixed;
  top: 0;
  right: 10%;
  margin: 2%;
  width: 60px; }

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 10% auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24); }

.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px; }

form .create-user {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #00AB6C;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer; }

.create-user:hover, .create-user:focus {
  background: #00AB6C; }

.create-user:active {
  background-color: #f2f2f2;
  color: #00AB6C; }

.form .message {
  margin: 15px 0 0;
  color: #00AB6C;
  font-size: 12px; }

.form .message a {
  color: #00AB6C;
  text-decoration: none; }

.hide {
  display: none; }

.users-box {
  margin: 0 auto;
  width: 50%; }
  .users-box .user-info {
    background-color: white;
    border-bottom: 2px solid gray;
    margin: 5% auto;
    padding: 5% 5%;
    width: 90%; }

.user-image-holder {
  float: right;
  height: 120px;
  margin: 2%;
  width: 120px;
  border-radius: 50%; }

.user-full-name {
  display: inline-block;
  font-size: 1.75rem;
  font-weight: 700;
  margin: 2%;
  text-transform: capitalize; }

.user-stats {
  display: block;
  width: 100%; }
  .user-stats .following, .user-stats .followers {
    display: inline-block;
    font-size: 2rem;
    margin: 1% 1% 1% 2%;
    color: gray; }
  .user-stats .description {
    display: block;
    font-size: .8rem;
    margin: 1% 1%;
    width: 60%; }
  .user-stats .twitter img {
    max-height: 20px; }
  .user-stats .follow-button, .user-stats .delete-button {
    background-color: white;
    color: #00AB6C;
    border: 2px solid #00AB6C;
    font-size: .8rem;
    padding: 2% 4%;
    border-radius: 500px;
    margin: 2% 0 0; }
  .user-stats .delete-button {
    color: red;
    border: 2px solid red; }

.post-container {
  background-color: white;
  border: 1px solid #fafafa;
  box-shadow: 0 0 1px #888888;
  line-height: 1;
  padding: 1% 5% 0;
  margin: 2% 5% 2% auto;
  width: 80%;
  min-height: 350px; }

.author-image-holder {
  display: inline-block;
  float: left;
  border-radius: 50%;
  height: 50px;
  width: 50px; }

.post-author-name {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 1% 0 0;
  text-transform: capitalize;
  display: block; }

.post-date,
.post-length {
  font-size: 0.8rem;
  margin: 0 1%;
  width: 10%; }

.post-content {
  margin: 1% auto;
  width: 100%; }
  .post-content .post-image {
    width: 70%; }
    .post-content .post-image img {
      width: 100%; }
  .post-content .post-title {
    font-family: "Quicksand", sans-serif;
    font-size: 2rem;
    font-weight: 700;
    margin: 5% auto 2%;
    text-transform: capitalize; }
  .post-content .read-more {
    margin-bottom: 0; }
    .post-content .read-more a {
      color: gray;
      font-size: 0.8rem;
      text-decoration: none; }

.social-bar {
  display: inline-block;
  overflow: hidden;
  margin-top: 0;
  height: 40px;
  width: 100%; }
  .social-bar .heart-favicon {
    height: 25px;
    float: left;
    width: 20px; }
  .social-bar .bookmark-favicon {
    height: 25px;
    float: right;
    width: 20px; }

.expand {
  background-color: white;
  border: 25px solid #fafafa;
  line-height: 1;
  padding: 5% 10% 0;
  position: absolute;
  width: 100vw;
  min-height: 350px; }
  .expand .post-content {
    margin: 1% auto;
    width: 100%; }
    .expand .post-content .post-image {
      margin: 0 auto;
      width: 90%; }
      .expand .post-content .post-image img {
        width: 80%; }
  .expand .author-post-body {
    font-size: 1rem;
    line-height: 1.5;
    padding: 1% 5%;
    margin: 1% auto; }

.post-container-side-style {
  background-color: transparent;
  line-height: 1;
  padding: 1% 5% 0% 5%;
  margin: 2% 5% 2% auto;
  display: block;
  width: 100%; }

.author-image-holder-side-style {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: inline-block;
  float: left;
  border-radius: 50%;
  height: 30px;
  margin: 7% 5% 0 2%;
  vertical-align: middle;
  width: 30px; }

.post-author-name-side-style {
  font-size: .8rem;
  font-weight: 400;
  margin: 1%;
  text-transform: capitalize;
  display: inline-block; }

.post-date {
  font-size: .8rem;
  margin: 0 1%;
  width: 10%; }

.post-content-side-style {
  margin: 1% auto;
  width: 100%; }
  .post-content-side-style .post-title-side-style {
    font-family: "Quicksand", sans-serif;
    font-size: .8rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 1% 0;
    text-transform: capitalize; }

.sign {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #e5e5e5;
  padding-left: 10%;
  padding-right: 10%;
  width: 100%; }
  .sign h1 {
    font-size: 1.25rem; }

.logo-image {
  align-items: center;
  display: flex;
  flex-direction: row;
  color: #4c4c4c; }
  .logo-image img {
    display: inline-block;
    vertical-align: middle;
    width: 50px;
    height: 50px; }

.user-start {
  align-items: center;
  color: #00AB6C;
  display: flex;
  flex-direction: row;
  font-size: .9rem;
  font-weight: 300; }
  .user-start a {
    color: #00AB6C;
    margin: 15px;
    text-decoration: none; }
  .user-start button {
    border: none;
    background-color: transparent;
    color: #4c4c4c;
    font-size: .9rem;
    font-weight: 300; }

.categories {
  overflow: hidden;
  padding-left: 10%; }

.categories-menu, .users-tab {
  align-items: center;
  display: flex;
  flex-direction: row;
  float: left;
  font-size: .8rem;
  justify-content: flex-start;
  list-style-type: none;
  padding: 1% 0;
  width: 48%; }
  .categories-menu a, .users-tab a {
    color: #7f7f7f;
    margin: 15px;
    text-decoration: none; }

.side-content-bar {
  font-size: .9rem;
  font-weight: 300; }
  .side-content-bar a {
    text-decoration: none; }

.top-stories-content, .author-picks-content, .stories-tag-content {
  border-bottom: 1px solid #e5e5e5;
  padding: 2% 1%;
  font-size: .8rem; }
  .top-stories-content a, .author-picks-content a, .stories-tag-content a {
    color: #4c4c4c; }
  .top-stories-content p, .author-picks-content p, .stories-tag-content p {
    padding: 2% 1%; }

.write-story {
  margin: 2%; }

.front-page-footer {
  font-size: .8rem;
  font-weight: 300;
  margin: 2% auto; }
  .front-page-footer span {
    padding: 2% 0; }
  .front-page-footer a {
    color: #7f7f7f;
    margin: 3px; }

/*# sourceMappingURL=main.css.map */
